/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#mainHeader {
  background: #808080 url("../css/swim.jpg") center center no-repeat;
  padding-top: 10px;
  position: center;
  background-size: cover;
  text-align: center;
  padding: 100px ;
  margin: 0 auto;
}
#searchText {
  text-align: center;
}
#map {
   width: 100%;
   height: 75%;
   background-color: grey;
 }
 #mapcontainer {
  height: 20%;
}
 #results {
  margin-bottom: 0;
 }
 .no-margin {
  margin-top: 0 !important;
 }
